
<div class="btn-add">
    <button class="btn btn-secondary" (click)="addProduct(content)">Add Product</button>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Add Product</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="newProduct">
			<div class="form-group">
				<label for="Name">Name</label>
				<div class="input-group">
					<input id="name" class="form-control" placeholder="Enter Name" formControlName="name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <div class="input-group">
                    <input id="state"  class="form-control" placeholder="Enter State" formControlName="state"/>
                </div>
            </div>
            <div class="form-group">
                <label for="zip">Zip</label>
                <div class="input-group">
                    <input id="zip"  class="form-control" placeholder="Enter Zip" formControlName="zip"/>
                </div>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <div class="input-group">
                    <input id="amount"  class="form-control" placeholder="Enter Amount" formControlName="amount"/>
                </div>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <div class="input-group">
                    <input id="quantity"  class="form-control" placeholder="Enter Quantity" formControlName="quantity"/>
                </div>
            </div>
            <div class="form-group">
                <label for="item">Item</label>
                <div class="input-group">
                    <input id="item"  class="form-control" placeholder="Enter Item Code" formControlName="item"/>
                </div>
            </div>
		</form>
        
	</div>
	<div class="modal-footer">
        <span class="alert-invalid" *ngIf="submitted">Please enter valid data</span>
        <button type="submit" class="btn btn-secondary" (click)="createProduct()"> Create </button>
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>